<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 角色类型实体类映射关系 -->
<mapper namespace="com.chinacreator.asp.comp.sys.basic.role.dao.RoleTypeDao">
<cache-ref namespace="com.chinacreator.asp.comp.sys.core.user.dao.UserDao"/>
  <sql id="RoleType_Column_List"> type_id,type_name,type_desc,creator_user_id,creator_org_id </sql>
  
  <resultMap id="RoleTypeResultMap" type="com.chinacreator.asp.comp.sys.basic.role.eo.RoleTypeEO">
    <result column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    <result column="TYPE_DESC" property="typeDesc" jdbcType="VARCHAR" />
    <result column="CREATOR_USER_ID" property="creatorUserId" jdbcType="VARCHAR" />
    <result column="CREATOR_ORG_ID" property="creatorOrgId" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="create" parameterType="com.chinacreator.asp.comp.sys.basic.role.eo.RoleTypeEO" databaseId="sqlserver">
    INSERT INTO td_sm_roletype
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="typeId != null">
              type_id,
          </if>
          <if test="typeName != null">
              type_name,
          </if>
          <if test="typeDesc != null">
              type_desc,
          </if>
          <if test="creatorUserId != null">
              creator_user_id,
          </if>
          <if test="creatorOrgId != null">
              creator_org_id,
          </if>
      </trim>
      <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
          <if test="typeId != null">
              <![CDATA[#{typeId,jdbcType=VARCHAR},]]>
          </if>
          <if test="typeName != null">
               <![CDATA[#{typeName,jdbcType=VARCHAR},]]>
          </if>
          <if test="typeDesc != null">
               <![CDATA[#{typeDesc,jdbcType=VARCHAR},]]>
          </if>
          <if test="creatorUserId != null">
               <![CDATA[#{creatorUserId,jdbcType=VARCHAR},]]>
          </if>
          <if test="creatorOrgId != null">
               <![CDATA[#{creatorOrgId,jdbcType=VARCHAR},]]>
          </if>
      </trim>
  </insert>
  
  <update id="update" parameterType="com.chinacreator.asp.comp.sys.basic.role.eo.RoleTypeEO" databaseId="sqlserver">
        UPDATE td_sm_roletype
        <set>
             <if test="typeName != null">
                <![CDATA[type_name = #{typeName,jdbcType=VARCHAR},]]>
            </if>
            <if test="typeDesc != null">
                <![CDATA[type_desc = #{typeDesc,jdbcType=VARCHAR},]]>
            </if>
            <if test="creatorUserId != null">
                <![CDATA[creator_user_id = #{creatorUserId,jdbcType=VARCHAR},]]>
            </if>
            <if test="creatorOrgId != null">
                <![CDATA[creator_org_id = #{creatorOrgId,jdbcType=VARCHAR},]]>
            </if>
        </set>
        WHERE <![CDATA[type_id = #{typeId,jdbcType=VARCHAR}]]>
  </update>
  
  <delete id="deleteByPKs" databaseId="sqlserver">
     DELETE FROM td_sm_roletype
      WHERE type_id IN
      <foreach item="idItem" collection="array" open="(" separator=","
          close=")">
          <![CDATA[#{idItem,jdbcType=VARCHAR}]]>
      </foreach>
  </delete>
  
  <select id="queryAll" resultMap="RoleTypeResultMap" databaseId="sqlserver">
      SELECT <include refid="RoleType_Column_List" /> FROM td_sm_roletype
  </select>
  
  <select id="queryByRoleType" resultMap="RoleTypeResultMap" databaseId="sqlserver">
        SELECT <include refid="RoleType_Column_List" />
      FROM td_sm_roletype
      <trim prefix="WHERE" prefixOverrides="AND |OR ">
          <if test="roleTypeEO.typeId != null">
              <![CDATA[type_id = #{roleTypeEO.typeId,jdbcType=VARCHAR}]]>
          </if>
          <if test="roleTypeEO.typeName != null">
              <![CDATA[AND type_name = #{roleTypeEO.typeName,jdbcType=VARCHAR}]]>
          </if>
          <if test="roleTypeEO.typeDesc != null">
              <![CDATA[AND type_desc = #{roleTypeEO.typeDesc,jdbcType=VARCHAR}]]>
          </if>
          <if test="roleTypeEO.creatorUserId != null">
              <![CDATA[AND creator_user_id = #{roleTypeEO.creatorUserId,jdbcType=VARCHAR}]]>
          </if>
          <if test="roleTypeEO.creatorOrgId != null">
              <![CDATA[AND creator_org_id = #{roleTypeEO.creatorOrgId,jdbcType=VARCHAR}]]>
          </if>
      </trim>
  </select>
  
  <select id="queryByPK" parameterType="java.lang.String" resultMap="RoleTypeResultMap" databaseId="sqlserver">
        SELECT <include refid="RoleType_Column_List" />
      FROM td_sm_roletype
      <trim prefix="WHERE" prefixOverrides="AND |OR ">
          <if test="roleTypeId != null">
              <![CDATA[type_id = #{roleTypeId,jdbcType=VARCHAR}]]>
          </if>
      </trim>
  </select>
  
  <select id="existsByRoleTypeName" parameterType="java.lang.String" resultType="int" databaseId="sqlserver">
        SELECT COUNT(*)
        FROM td_sm_roletype
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
          <if test="roleTypeName != null">
                <![CDATA[type_name = #{roleTypeName,jdbcType=VARCHAR}]]>
          </if>
        </trim>
  </select>
  
  <select id="existsByRoleTypeNameIgnoreRoleTypeID" parameterType="java.lang.String" resultType="int" databaseId="sqlserver">
        <![CDATA[
	        SELECT COUNT(*)
	        FROM td_sm_roletype
	        WHERE type_name = #{roleTypeName,jdbcType=VARCHAR}
	        AND type_id !=  #{roleTypeId,jdbcType=VARCHAR}
        ]]>
  </select>
</mapper>