<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 岗位实体类映射关系 -->
<mapper namespace="com.chinacreator.asp.comp.sys.advanced.job.dao.JobDao">
<cache-ref namespace="com.chinacreator.asp.comp.sys.core.user.dao.UserDao"/>
	<sql id="Job_Column_List">
		job_id,job_name,job_desc,job_scope,job_function,job_amount,job_number,job_condition,job_rank,owner_id
	</sql>

	<sql id="Org_Column_List">org_id,org_sn,org_name,org_showname,parent_id,path,
		layer,children,code,jp,qp,creatingtime,creator,orgnumber,orgdesc,chargeorgid,
		org_level,org_xzqm,isdirectlyparty,isforeignparty,isjichaparty,isdirectguanhu,
		remark1,remark2,remark3,remark4,remark5,remark6,remark7,remark8,remark9,
		remark10
	</sql>

	<resultMap id="JobResultMap"
		type="com.chinacreator.asp.comp.sys.advanced.job.eo.JobEO">
		<result column="JOB_ID" property="jobId" jdbcType="VARCHAR" />
		<result column="JOB_NAME" property="jobName" jdbcType="VARCHAR" />
		<result column="JOB_DESC" property="jobDesc" jdbcType="VARCHAR" />
		<result column="JOB_SCOPE" property="jobScope" jdbcType="CHAR" />
		<result column="JOB_FUNCTION" property="jobFunction" jdbcType="VARCHAR" />

		<result column="JOB_AMOUNT" property="jobAmount" jdbcType="VARCHAR" />
		<result column="JOB_NUMBER" property="jobNumber" jdbcType="VARCHAR" />
		<result column="JOB_CONDITION" property="jobCondition"
			jdbcType="VARCHAR" />
		<result column="JOB_RANK" property="jobRank" jdbcType="VARCHAR" />
		<result column="OWNER_ID" property="ownerId" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="RoleResultMap"
		type="com.chinacreator.asp.comp.sys.core.role.eo.RoleEO">
		<result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
		<result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
		<result column="ROLE_TYPE" property="roleType" jdbcType="VARCHAR" />
		<result column="ROLE_DESC" property="roleDesc" jdbcType="VARCHAR" />
		<result column="ROLE_USAGE" property="roleUsage" jdbcType="VARCHAR" />
		<result column="OWNER_ID" property="ownerId" jdbcType="VARCHAR" />
		<result column="REMARK1" property="remark1" jdbcType="VARCHAR" />
		<result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
		<result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
		<result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
		<result column="REMARK5" property="remark5" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="MenuResultMap"
		type="com.chinacreator.asp.comp.sys.basic.menu.eo.MenuAllInfoEO">
		<result column="ID" property="menuId" jdbcType="VARCHAR" />
		<result column="CODE" property="menuCode" jdbcType="VARCHAR" />
		<result column="NAME" property="menuName" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="CHAR" />
		<result column="PERM_EXPR" property="permExpr" jdbcType="VARCHAR" />
		<result column="IS_ENABLED" property="isEnabled" jdbcType="CHAR" />
		<result column="HREF" property="href" jdbcType="VARCHAR" />
		<result column="ICON" property="icon" jdbcType="VARCHAR" />
		<result column="CREATOR" property="creator" jdbcType="VARCHAR" />
		<result column="CREATOR_TIME" property="creatorTime" jdbcType="DATE" />
		<result column="SN" property="sn" jdbcType="NUMERIC" />
		<result column="DISPLAY_MODE" property="displayMode" jdbcType="VARCHAR" />
		<result column="SOURCE" property="source" jdbcType="VARCHAR" />
		<result column="MENU_EXT" property="menuExt" jdbcType="CLOB" />
	</resultMap>

	<resultMap id="OrgResultMap"
		type="com.chinacreator.asp.comp.sys.basic.org.eo.OrgEO">
		<result column="org_id" property="orgId" jdbcType="VARCHAR" />
		<result column="org_sn" property="orgSn" jdbcType="NUMERIC" />
		<result column="org_name" property="orgName" jdbcType="VARCHAR" />
		<result column="org_showname" property="orgShowName" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />

		<result column="path" property="path" jdbcType="VARCHAR" />
		<result column="layer" property="layer" jdbcType="VARCHAR" />
		<result column="children" property="children" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="jp" property="jp" jdbcType="VARCHAR" />

		<result column="qp" property="qp" jdbcType="VARCHAR" />
		<result column="creatingtime" property="creatingTime" jdbcType="DATE" />
		<result column="creator" property="creator" jdbcType="VARCHAR" />
		<result column="orgnumber" property="orgNumber" jdbcType="VARCHAR" />
		<result column="orgdesc" property="orgDesc" jdbcType="VARCHAR" />

		<result column="chargeorgid" property="chargeOrgId" jdbcType="VARCHAR" />
		<result column="org_level" property="orgLevel" jdbcType="VARCHAR" />
		<result column="org_xzqm" property="orgXzqm" jdbcType="VARCHAR" />
		<result column="isdirectlyparty" property="isDirectlyparty"
			jdbcType="NUMERIC" />
		<result column="isforeignparty" property="isForeignparty"
			jdbcType="NUMERIC" />

		<result column="isjichaparty" property="isJichaparty" jdbcType="NUMERIC" />
		<result column="isdirectguanhu" property="isDirectguanhu"
			jdbcType="NUMERIC" />
		<result column="remark1" property="remark1" jdbcType="VARCHAR" />
		<result column="remark2" property="remark2" jdbcType="VARCHAR" />
		<result column="remark3" property="remark3" jdbcType="VARCHAR" />

		<result column="remark4" property="remark4" jdbcType="VARCHAR" />
		<result column="remark5" property="remark5" jdbcType="VARCHAR" />
		<result column="remark6" property="remark6" jdbcType="VARCHAR" />
		<result column="remark7" property="remark7" jdbcType="VARCHAR" />
		<result column="remark8" property="remark8" jdbcType="VARCHAR" />
		<result column="remark9" property="remark9" jdbcType="VARCHAR" />
		<result column="remark10" property="remark10" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="create" parameterType="com.chinacreator.asp.comp.sys.advanced.job.eo.JobEO"
		databaseId="dm">
		INSERT INTO td_sm_job
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="jobId != null">
				job_id,
			</if>
			<if test="jobName != null">
				job_name,
			</if>
			<if test="jobDesc != null">
				job_desc,
			</if>
			<if test="jobScope != null">
				job_scope,
			</if>
			<if test="jobFunction != null">
				job_function,
			</if>

			<if test="jobAmount != null">
				job_amount,
			</if>
			<if test="jobNumber != null">
				job_number,
			</if>
			<if test="jobCondition != null">
				job_condition,
			</if>
			<if test="jobRank != null">
				job_rank,
			</if>
			<if test="ownerId != null">
				owner_id,
			</if>
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="jobId != null">
              <![CDATA[#{jobId,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobName != null">
              <![CDATA[#{jobName,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobDesc != null">
              <![CDATA[#{jobDesc,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobScope != null">
              <![CDATA[#{jobScope,jdbcType=CHAR},]]>
			</if>
			<if test="jobFunction != null">
              <![CDATA[#{jobFunction,jdbcType=VARCHAR},]]>
			</if>

			<if test="jobAmount != null">
              <![CDATA[#{jobAmount,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobNumber != null">
              <![CDATA[#{jobNumber,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobCondition != null">
              <![CDATA[#{jobCondition,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobRank != null">
              <![CDATA[#{jobRank,jdbcType=VARCHAR},]]>
			</if>
			<if test="ownerId != null">
              <![CDATA[#{ownerId,jdbcType=VARCHAR},]]>
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.chinacreator.asp.comp.sys.advanced.job.eo.JobEO"
		databaseId="dm">
		UPDATE td_sm_job
		<set>
			<if test="jobName != null">
              <![CDATA[job_name = #{jobName,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobDesc != null">
              <![CDATA[job_desc = #{jobDesc,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobFunction != null">
              <![CDATA[job_function = #{jobFunction,jdbcType=VARCHAR},]]>
			</if>

			<if test="jobAmount != null">
              <![CDATA[job_amount = #{jobAmount,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobNumber != null">
              <![CDATA[job_number = #{jobNumber,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobCondition != null">
              <![CDATA[job_condition = #{jobCondition,jdbcType=VARCHAR},]]>
			</if>
			<if test="jobRank != null">
              <![CDATA[job_rank = #{jobRank,jdbcType=VARCHAR},]]>
			</if>
			<if test="ownerId != null">
              <![CDATA[owner_id = #{ownerId,jdbcType=VARCHAR},]]>
			</if>
		</set>
		WHERE <![CDATA[job_id = #{jobId,jdbcType=VARCHAR}]]>
	</update>
	<select id="queryByPK" resultMap="JobResultMap" databaseId="dm">
  	<![CDATA[
  		SELECT
  	]]>
		<include refid="Job_Column_List" />
  	<![CDATA[ 
 		FROM td_sm_job WHERE job_id = #{jobId,jdbcType=VARCHAR}
  	]]>
	</select>
	<select id="queryAll" resultMap="JobResultMap" databaseId="dm">
  	<![CDATA[
  		SELECT
  	]]>
		<include refid="Job_Column_List" />
  	<![CDATA[ 
 		FROM td_sm_job
  	]]>
	</select>
	<select id="queryByJob" resultMap="JobResultMap" databaseId="dm">
		SELECT
		<include refid="Job_Column_List" />
		FROM td_sm_job
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="jobEO.jobId != null">
	          <![CDATA[job_id = #{jobEO.jobId,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobName != null">
	          <![CDATA[AND job_name like '%' || #{jobEO.jobName,jdbcType=VARCHAR} || '%' ]]>
			</if>
			<if test="jobEO.jobDesc != null">
	          <![CDATA[AND job_desc like '%' || #{jobEO.jobDesc,jdbcType=VARCHAR} || '%' ]]>
			</if>
			<if test="jobEO.jobScope != null">
	          <![CDATA[AND job_scope = #{jobEO.jobScope,jdbcType=CHAR}]]>
			</if>

			<if test="jobEO.jobFunction != null">
	          <![CDATA[AND job_function = #{jobEO.jobFunction,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobAmount != null">
	          <![CDATA[AND job_amount = #{jobEO.jobAmount,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobNumber != null">
	          <![CDATA[AND job_number = #{jobEO.jobNumber,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobCondition != null">
	          <![CDATA[AND job_condition = #{jobEO.jobCondition,jdbcType=VARCHAR}]]>
			</if>

			<if test="jobEO.jobRank != null">
	          <![CDATA[AND job_rank = #{jobEO.jobRank,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.ownerId != null">
	          <![CDATA[AND owner_id = #{jobEO.ownerId,jdbcType=VARCHAR}]]>
			</if>
		</trim>
		order by job_scope,job_name,job_id
	</select>
	<select id="queryOrgJob" resultMap="JobResultMap" databaseId="dm">
		SELECT t.* FROM td_sm_job t LEFT JOIN td_sm_orgjob t1 ON t.job_id =
		t1.job_id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="orgId != null">
          <![CDATA[t1.org_id = #{orgId,jdbcType=VARCHAR}]]>
			</if>

			<if test="jobEO.jobId != null">
          <![CDATA[AND t.job_id = #{jobEO.jobId,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobName != null">
          <![CDATA[AND t.job_name like '%' || #{jobEO.jobName,jdbcType=VARCHAR} || '%' ]]>
			</if>
			<if test="jobEO.jobDesc != null">
          <![CDATA[AND t.job_desc like '%' || #{jobEO.jobDesc,jdbcType=VARCHAR} || '%' ]]>
			</if>
			<if test="jobEO.jobScope != null">
          <![CDATA[AND t.job_scope = #{jobEO.jobScope,jdbcType=CHAR}]]>
			</if>

			<if test="jobEO.jobFunction != null">
          <![CDATA[AND t.job_function = #{jobEO.jobFunction,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobAmount != null">
          <![CDATA[AND t.job_amount = #{jobEO.jobAmount,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobNumber != null">
          <![CDATA[AND t.job_number = #{jobEO.jobNumber,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobCondition != null">
          <![CDATA[AND t.job_condition = #{jobEO.jobCondition,jdbcType=VARCHAR}]]>
			</if>

			<if test="jobEO.jobRank != null">
          <![CDATA[AND t.job_rank = #{jobEO.jobRank,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.ownerId != null">
          <![CDATA[AND t.owner_id = #{jobEO.ownerId,jdbcType=VARCHAR}]]>
			</if>
		</trim>
		order by t.job_scope,t.job_name,t.job_id
	</select>

	<select id="queryUserJob" resultMap="JobResultMap" databaseId="dm">
		SELECT
		<include refid="Job_Column_List" />
		FROM td_sm_job t
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
	 	<![CDATA[
       		job_id IN (SELECT ui.scope_id
	                      FROM td_sm_userinstance ui
	                     WHERE ui.scope_type = '2'
	                       AND ui.user_id = #{userId,jdbcType=VARCHAR})   
	    ]]>
			<if test="jobEO.jobId != null">
          <![CDATA[AND t.job_id = #{jobEO.jobId,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobName != null">
          <![CDATA[AND t.job_name like '%' || #{jobEO.jobName,jdbcType=VARCHAR} || '%' ]]>
			</if>
			<if test="jobEO.jobDesc != null">
          <![CDATA[AND t.job_desc like '%' || #{jobEO.jobDesc,jdbcType=VARCHAR} || '%' ]]>
			</if>
			<if test="jobEO.jobScope != null">
          <![CDATA[AND t.job_scope = #{jobEO.jobScope,jdbcType=CHAR}]]>
			</if>

			<if test="jobEO.jobFunction != null">
          <![CDATA[AND t.job_function = #{jobEO.jobFunction,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobAmount != null">
          <![CDATA[AND t.job_amount = #{jobEO.jobAmount,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobNumber != null">
          <![CDATA[AND t.job_number = #{jobEO.jobNumber,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.jobCondition != null">
          <![CDATA[AND t.job_condition = #{jobEO.jobCondition,jdbcType=VARCHAR}]]>
			</if>

			<if test="jobEO.jobRank != null">
          <![CDATA[AND t.job_rank = #{jobEO.jobRank,jdbcType=VARCHAR}]]>
			</if>
			<if test="jobEO.ownerId != null">
          <![CDATA[AND t.owner_id = #{jobEO.ownerId,jdbcType=VARCHAR}]]>
			</if>
		</trim>
	</select>

	<select id="queryByOrgUser" parameterType="java.lang.String"
		resultMap="RoleResultMap" databaseId="dm">
		SELECT
		<include refid="Job_Column_List" />
		<![CDATA[
			  	FROM td_sm_job j
			 	WHERE j.job_scope = '1'
			   	AND j.job_id IN (SELECT oj.job_id
			                      	FROM td_sm_orgjob oj, td_sm_userinstance ui
			                     	WHERE ui.scope_type = '2'
				                       	AND oj.job_id = ui.scope_id
				                       	AND oj.org_id = #{orgId,jdbcType=VARCHAR}
				                       	AND ui.user_id = #{userId,jdbcType=VARCHAR})
		]]>
	</select>

	<select id="queryRoles" parameterType="java.lang.String"
		resultMap="RoleResultMap" databaseId="dm">
		SELECT tt.*
		FROM td_sm_role tt
		INNER JOIN td_sm_grouprole tt1
		ON
		tt.role_id = tt1.role_id
		AND tt.role_usage = '1'
		INNER JOIN td_sm_group
		tt2
		ON tt1.group_id = tt2.group_id
		INNER JOIN td_sm_grouporgjob tt3
		ON
		tt2.group_id = tt3.group_id
		INNER JOIN td_sm_job tt4
		ON tt3.job_id =
		tt4.job_id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="jobId != null">
     		<![CDATA[tt4.job_id = #{jobId,jdbcType=VARCHAR} ]]>
			</if>
		</trim>
	</select>

	<select id="queryAnonymousRoles" parameterType="java.lang.String"
		resultMap="RoleResultMap" databaseId="dm">
		SELECT tt.*
		FROM td_sm_role tt
		INNER JOIN td_sm_grouprole tt1
		ON
		tt.role_id = tt1.role_id
		AND tt.role_usage = '1'
		INNER JOIN td_sm_group
		tt2
		ON tt1.group_id = tt2.group_id
		INNER JOIN td_sm_grouporgjob tt3
		ON
		tt2.group_id = tt3.group_id
		INNER JOIN td_sm_job tt4
		ON tt3.job_id =
		tt4.job_id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="jobId != null">
     		<![CDATA[tt4.job_id = #{jobId,jdbcType=VARCHAR} ]]>
			</if>
			<if test="anonymousRoleType != null">
     		<![CDATA[AND tt.role_type = #{anonymousRoleType,jdbcType=VARCHAR} ]]>
			</if>
		</trim>
	</select>

	<select id="queryGroupIdByJobId" parameterType="java.lang.String"
		resultType="java.lang.String" databaseId="dm">
		SELECT group_id FROM td_sm_grouporgjob
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="jobId != null">
          <![CDATA[job_id = #{jobId,jdbcType=VARCHAR}]]>
			</if>
		</trim>
	</select>

	<select id="queryGroupIdsByJobIds" resultType="java.lang.String"
		databaseId="dm">
		SELECT group_id FROM td_sm_grouporgjob WHERE job_id IN
		<foreach item="idItem" index="index" collection="jobIds" open="(" 
			close=")">
			<if test="index&gt;999 and index%1000==0">) or job_id in(</if>
				#{idItem}
			<if test="index%1000!=999 and index&lt;jobIds.length-1">,</if>
		</foreach>
	</select>

	<select id="belongsToOrg" resultType="int" databaseId="dm">
		SELECT COUNT(*) FROM td_sm_organization t LEFT JOIN td_sm_orgjob t1 ON
		t.org_id = t1.org_id
		WHERE t1.job_id = <![CDATA[#{jobId,jdbcType=VARCHAR}]]>
		AND t.org_id = <![CDATA[#{orgId,jdbcType=VARCHAR}]]>
	</select>

	<select id="hasRole" resultType="int" databaseId="dm">
		SELECT COUNT(*)
		FROM td_sm_job t
		INNER JOIN td_sm_grouporgjob t1
		ON
		t.job_id = t1.job_id
		AND t.job_id = <![CDATA[#{jobId,jdbcType=VARCHAR}]]>
		INNER JOIN td_sm_group t2
		ON t1.group_id = t2.group_id
		INNER JOIN
		td_sm_grouprole t3
		ON t2.group_id = t3.group_id
		INNER JOIN td_sm_role t4
		ON t3.role_id = t4.role_id
		WHERE t4.role_id = <![CDATA[#{roleId,jdbcType=VARCHAR}]]>
	</select>

	<select id="belongsToJob" resultType="int" databaseId="dm">
		SELECT COUNT(*)
		FROM td_sm_job t
		INNER JOIN td_sm_grouporgjob t1
		ON
		t.job_id = t1.job_id
		AND t.job_id = <![CDATA[#{jobId,jdbcType=VARCHAR}]]>
		INNER JOIN td_sm_group t2
		ON t1.group_id = t2.group_id
		INNER JOIN
		TD_SM_USERINSTANCEGROUP t3
		ON t2.group_id = t3.group_id
		INNER JOIN
		TD_SM_USERINSTANCE t4
		ON t3.userinstance_id = t4.id
		WHERE t4.user_id = <![CDATA[#{userId,jdbcType=VARCHAR}]]>
	</select>

	<select id="belongsToOrgJob" resultType="int" databaseId="dm">
		SELECT COUNT(*)
		FROM td_sm_job t
		INNER JOIN td_sm_grouporgjob t1
		ON
		t.job_id = t1.job_id
		AND t.job_id = <![CDATA[#{jobId,jdbcType=VARCHAR}]]>
		INNER JOIN td_sm_group t2
		ON t1.group_id = t2.group_id
		INNER JOIN
		td_sm_userinstancegroup t3
		ON t2.group_id = t3.group_id
		INNER JOIN
		td_sm_userinstance t4
		ON t3.userinstance_id = t4.id
		WHERE t4.user_id = <![CDATA[#{userId,jdbcType=VARCHAR}]]>
		AND t.job_id IN
		(SELECT tt.job_id FROM td_sm_orgjob tt INNER JOIN
		td_sm_job tt1 ON tt.job_id
		= tt1.job_id WHERE tt.org_id = <![CDATA[#{orgId,jdbcType=VARCHAR}]]>)
	</select>

	<delete id="deleteByPKs" databaseId="dm">
		DELETE FROM td_sm_job
		WHERE job_id IN
		<foreach item="idItem" index="index" collection="array" open="(" 
			close=")">
			<if test="index&gt;999 and index%1000==0">) or job_id in(</if>
            	<![CDATA[#{idItem}]]>
            <if test="index%1000!=999 and index&lt;array.length-1">,</if>
		</foreach>
	</delete>

	<select id="queryMenusByJobs" resultMap="MenuResultMap"
		databaseId="dm">
		SELECT ttt1.id, ttt1.code, ttt1.name, ttt1.parent_id, ttt1.type,
		ttt1.perm_expr, ttt.is_enabled, ttt.href,
		ttt.icon, ttt1.creator,
		ttt1.creator_time, ttt1.sn, ttt1.source,
		ttt.display_mode,ttt.menu_ext
		FROM
		tb_sm_menu ttt
		INNER JOIN tb_sm_privilege ttt1
		ON ttt.menu_id = ttt1.id
		AND ttt.is_enabled = '1'
		AND ttt1.type = '4'
		INNER JOIN td_sm_roleresop
		ttt2
		ON ttt1.id = ttt2.op_id
		INNER JOIN td_sm_role tt
		ON ttt2.role_id =
		tt.role_id
		INNER JOIN td_sm_grouprole tt1
		ON tt.role_id = tt1.role_id
		AND tt.role_usage = '1'
		INNER JOIN td_sm_group tt2
		ON tt1.group_id =
		tt2.group_id
		INNER JOIN td_sm_grouporgjob tt3
		ON tt2.group_id =
		tt3.group_id
		INNER JOIN td_sm_job tt4
		ON tt3.job_id = tt4.job_id
		WHERE
		tt4.job_id IN
		<foreach item="idItem" index="index" collection="jobIds" open="(" 
			close=")">
			<if test="index&gt;999 and index%1000==0">) or tt4.job_id in(</if>
				#{idItem}
			<if test="index%1000!=999 and index&lt;jobIds.length-1">,</if>
		</foreach>
	</select>

	<select id="queryOrgByJobId" resultMap="OrgResultMap"
		databaseId="dm">
		SELECT
		<include refid="Org_Column_List" />
		<![CDATA[
		FROM td_sm_organization 
		WHERE org_id = 
			(SELECT oj.org_id 
				FROM td_sm_orgjob oj 
				WHERE oj.job_id = #{jobId,jdbcType=VARCHAR})
		]]>
	</select>

	<select id="existsJobNameByOrg" resultType="int" databaseId="dm">
		SELECT COUNT(*)
		<![CDATA[
			FROM td_sm_job j, td_sm_orgjob oj
	 		WHERE j.job_id = oj.job_id
	   		AND oj.org_id = #{orgId,jdbcType=VARCHAR}
	   		AND j.job_name = #{jobName,jdbcType=VARCHAR}				
		]]>
	</select>

	<select id="existsJobNameByCommon" resultType="int" databaseId="dm">
		SELECT COUNT(*)
		<![CDATA[
			FROM td_sm_job
			WHERE job_scope = '0'
			AND job_name = #{jobName,jdbcType=VARCHAR}				
		]]>
	</select>

	<select id="existsJobNameByOrgIgnoreJobID" resultType="int"
		databaseId="dm">
		SELECT COUNT(*)
		<![CDATA[
			FROM td_sm_job j, td_sm_orgjob oj
	 		WHERE j.job_id = oj.job_id
	   		AND oj.org_id = #{orgId,jdbcType=VARCHAR}
	   		AND j.job_name = #{jobName,jdbcType=VARCHAR}
	   		AND j.job_id != #{jobId,jdbcType=VARCHAR}
	   	]]>
	</select>

	<select id="existsJobNameByCommonIgnoreJobID" resultType="int"
		databaseId="dm">
		SELECT COUNT(*)
		<![CDATA[
			FROM td_sm_job
			WHERE job_scope = '0'
			AND job_name = #{jobName,jdbcType=VARCHAR}
			AND job_id != #{jobId,jdbcType=VARCHAR}		
		]]>
	</select>
</mapper>
