<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 用户实例机构扩展信息映射关系 -->
<mapper namespace="com.chinacreator.asp.comp.sys.basic.user.dao.UserDao">
<cache-ref namespace="com.chinacreator.asp.comp.sys.core.user.dao.UserDao"/>
	<sql id="User_Column_List">
		user_id, user_name, user_password, user_realname,user_pinyin, user_sex,user_hometel,
		user_worktel, user_workaddress,user_mobiletel1, user_mobiletel2, user_fax,user_oicq,
		user_birthday,user_email, user_address, user_postalcode, user_idcard, user_isvalid,
		user_regdate, user_logincount, user_type, past_time, dredge_time,lastlogin_date,
		worklength, politics, login_ip, cert_sn, user_sn,remark1, remark2, remark3,remark4,
		remark5, remark6, remark7, remark8,remark9, remark10
	</sql>
	
 	<sql id="Menu_Column_List"> 
 		id,code,name,parent_id,type,perm_expr,is_enabled,href,icon,creator,creator_time,sn,display_mode,source,menu_ext 
 	</sql>

	<resultMap id="UserResultMap" type="com.chinacreator.asp.comp.sys.core.user.eo.UserEO">
		<id column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
		<result column="USER_REALNAME" property="userRealname" jdbcType="VARCHAR" />
		<result column="USER_PINYIN" property="userPinyin" jdbcType="VARCHAR" />
		<result column="USER_SEX" property="userSex" jdbcType="VARCHAR" />
		<result column="USER_HOMETEL" property="userHometel" jdbcType="VARCHAR" />
		<result column="USER_WORKTEL" property="userWorktel" jdbcType="VARCHAR" />
		<result column="USER_WORKADDRESS" property="userWorkaddress" jdbcType="VARCHAR" />
		<result column="USER_MOBILETEL1" property="userMobiletel1" jdbcType="VARCHAR" />
		<result column="USER_MOBILETEL2" property="userMobiletel2" jdbcType="VARCHAR" />
		<result column="USER_FAX" property="userFax" jdbcType="VARCHAR" />
		<result column="USER_OICQ" property="userOicq" jdbcType="VARCHAR" />
		<result column="USER_BIRTHDAY" property="userBirthday" jdbcType="TIMESTAMP" />
		<result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
		<result column="USER_ADDRESS" property="userAddress" jdbcType="VARCHAR" />
		<result column="USER_POSTALCODE" property="userPostalcode" jdbcType="VARCHAR" />
		<result column="USER_IDCARD" property="userIdcard" jdbcType="VARCHAR" />
		<result column="USER_ISVALID" property="userIsvalid" jdbcType="DECIMAL" />
		<result column="USER_REGDATE" property="userRegdate" jdbcType="TIMESTAMP" />
		<result column="USER_LOGINCOUNT" property="userLogincount" jdbcType="DECIMAL" />
		<result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
		<result column="PAST_TIME" property="pastTime" jdbcType="TIMESTAMP" />
		<result column="DREDGE_TIME" property="dredgeTime" jdbcType="VARCHAR" />
		<result column="LASTLOGIN_DATE" property="lastloginDate" jdbcType="TIMESTAMP" />
		<result column="WORKLENGTH" property="worklength" jdbcType="VARCHAR" />
		<result column="POLITICS" property="politics" jdbcType="VARCHAR" />
		<result column="LOGIN_IP" property="loginIp" jdbcType="VARCHAR" />
		<result column="CERT_SN" property="certSn" jdbcType="VARCHAR" />
		<result column="USER_SN" property="userSn" jdbcType="DECIMAL" />
		<result column="REMARK1" property="remark1" jdbcType="VARCHAR" />
		<result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
		<result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
		<result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
		<result column="REMARK5" property="remark5" jdbcType="VARCHAR" />
		<result column="REMARK6" property="remark6" jdbcType="VARCHAR" />
		<result column="REMARK7" property="remark7" jdbcType="VARCHAR" />
		<result column="REMARK8" property="remark8" jdbcType="VARCHAR" />
		<result column="REMARK9" property="remark9" jdbcType="VARCHAR" />
		<result column="REMARK10" property="remark10" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="PrivilegeResultMap" type="com.chinacreator.asp.comp.sys.core.privilege.eo.PrivilegeEO">
		<result column="ID" property="privilegeId" jdbcType="VARCHAR" />
		<result column="CODE" property="privilegeCode" jdbcType="VARCHAR" />
		<result column="NAME" property="privilegeName" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="CHAR" />
		<result column="PERM_EXPR" property="permExpr" jdbcType="VARCHAR" />
		<result column="CREATOR" property="creator" jdbcType="VARCHAR" />
	    <result column="CREATOR_TIME" property="creatorTime" jdbcType="TIMESTAMP" />
	    <result column="SN" property="sn" jdbcType="NUMERIC" />
	    <result column="SOURCE" property="source" jdbcType="VARCHAR"/>	
	</resultMap> 
	
	<resultMap id="MenuResultMap" type="com.chinacreator.asp.comp.sys.basic.menu.eo.MenuAllInfoEO">
	    <result column="ID" property="menuId" jdbcType="VARCHAR" />
	    <result column="CODE" property="menuCode" jdbcType="VARCHAR" />
	    <result column="NAME" property="menuName" jdbcType="VARCHAR" />
	    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
	    <result column="TYPE" property="type" jdbcType="CHAR" />
	    <result column="PERM_EXPR" property="permExpr" jdbcType="VARCHAR" />
	    <result column="IS_ENABLED" property="isEnabled" jdbcType="CHAR" />
	    <result column="HREF" property="href" jdbcType="VARCHAR" />
	    <result column="ICON" property="icon" jdbcType="VARCHAR" />
	    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
	    <result column="CREATOR_TIME" property="creatorTime" jdbcType="TIMESTAMP" />
	    <result column="SN" property="sn" jdbcType="NUMERIC" />
	    <result column="DISPLAY_MODE" property="displayMode" jdbcType="VARCHAR" />
	    <result column="SOURCE" property="source" jdbcType="VARCHAR"/>
	    <result column="MENU_EXT" property="menuExt" jdbcType="LONGVARCHAR" />
	  </resultMap>
	  
	<select id="queryByUser" resultMap="UserResultMap" databaseId="mysql">
		SELECT
		<include refid="User_Column_List" />
		FROM td_sm_user
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			user_id != '1'
			<if test="userEO.userId != null">
				AND user_id = #{userEO.userId,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userName != null">
				AND user_name like concat('%' , #{userEO.userName,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPassword != null">
				AND user_password = #{userEO.userPassword,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userRealname != null">
				AND user_realname LIKE concat('%' , #{userEO.userRealname,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPinyin != null">
				AND user_pinyin LIKE concat('%' , #{userEO.userPinyin,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userSex != null">
				AND user_sex = #{userEO.userSex,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userHometel != null">
				AND user_hometel LIKE concat('%' , #{userEO.userHometel,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userWorktel != null">
				AND user_worktel LIKE concat('%' , #{userEO.userWorktel,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userWorkaddress != null">
				AND user_workaddress LIKE concat('%' , #{userEO.userWorkaddress,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userMobiletel1 != null">
				AND user_mobiletel1 LIKE concat('%' ,	#{userEO.userMobiletel1,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userMobiletel2 != null">
				AND user_mobiletel2 LIKE concat('%' ,	#{userEO.userMobiletel2,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userFax != null">
				AND user_fax LIKE concat('%' , #{userEO.userFax,jdbcType=VARCHAR} ,	'%')
			</if>
			<if test="userEO.userOicq != null">
				AND user_oicq LIKE concat('%' , #{userEO.userOicq,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userBirthday != null">
				AND user_birthday = #{userEO.userBirthday,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.userEmail != null">
				AND user_email = #{userEO.userEmail,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userAddress != null">
				AND user_address LIKE concat('%' , #{userEO.userAddress,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPostalcode != null">
				AND user_postalcode = #{userEO.userPostalcode,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userIdcard != null">
				AND user_idcard = #{userEO.userIdcard,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userIsvalid != null">
				AND user_isvalid = #{userEO.userIsvalid,jdbcType=DECIMAL}
			</if>
			<if test="userEO.userRegdate != null">
				AND user_regdate = #{userEO.userRegdate,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.userLogincount != null">
				AND user_logincount = #{userEO.userLogincount,jdbcType=DECIMAL}
			</if>
			<if test="userEO.userType != null">
				AND user_type = #{userEO.userType,jdbcType=VARCHAR}
			</if>
			<if test="userEO.pastTime != null">
				AND past_time = #{userEO.pastTime,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.dredgeTime != null">
				AND dredge_time = #{userEO.dredgeTime,jdbcType=VARCHAR}
			</if>
			<if test="userEO.lastloginDate != null">
				AND lastlogin_date = #{userEO.lastloginDate,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.worklength != null">
				AND worklength = #{userEO.worklength,jdbcType=VARCHAR}
			</if>
			<if test="userEO.politics != null">
				AND politics = #{userEO.politics,jdbcType=VARCHAR}
			</if>
			<if test="userEO.loginIp != null">
				AND login_ip = #{userEO.loginIp,jdbcType=VARCHAR}
			</if>
			<if test="userEO.certSn != null">
				AND cert_sn = #{userEO.certSn,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userSn != null">
				AND user_sn = #{userEO.userSn,jdbcType=DECIMAL}
			</if>
			<if test="userEO.remark1 != null">
				AND remark1 = #{userEO.remark1,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark2 != null">
				AND remark2 = #{userEO.remark2,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark3 != null">
				AND remark3 = #{userEO.remark3,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark4 != null">
				AND remark4 = #{userEO.remark4,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark5 != null">
				AND remark5 = #{userEO.remark5,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark6 != null">
				AND remark6 = #{userEO.remark6,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark7 != null">
				AND remark7 = #{userEO.remark7,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark8 != null">
				AND remark8 = #{userEO.remark8,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark9 != null">
				AND remark9 = #{userEO.remark9,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark10 != null">
				AND remark10 = #{userEO.remark10,jdbcType=VARCHAR}
			</if>
		</trim>
		ORDER BY user_sn, user_name
	</select>
	
	<select id="queryDirectPrivileges" resultMap="PrivilegeResultMap" databaseId="mysql">
		SELECT t.*
		  FROM tb_sm_privilege t
		 INNER JOIN td_sm_roleresop t1
		    ON t.id = t1.op_id
		 INNER JOIN td_sm_role t2
		    ON t1.role_id = t2.role_id
		   AND t2.role_usage = '1'
		   AND t2.role_type = #{roleType,jdbcType=VARCHAR}
		 INNER JOIN td_sm_userinstancerole t3
		    ON t2.role_id = t3.role_id
		 INNER JOIN td_sm_userinstance t4
		    ON t3.userinstance_id = t4.id
		   AND t4.is_enabled = '1'
		 INNER JOIN td_sm_user t5
		    ON t4.user_id = t5.user_id
		 WHERE t5.user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<select id="hasDirectPrivilege" resultType="int" databaseId="mysql">
		SELECT COUNT(*) FROM (SELECT t.*
		  FROM tb_sm_privilege t
		 INNER JOIN td_sm_roleresop t1
		    ON t.id = t1.op_id
		 INNER JOIN td_sm_role t2
		    ON t1.role_id = t2.role_id
		   AND t2.role_usage = '1'
		   AND t2.role_type = #{roleType,jdbcType=VARCHAR}
		 INNER JOIN td_sm_userinstancerole t3
		    ON t2.role_id = t3.role_id
		 INNER JOIN td_sm_userinstance t4
		    ON t3.userinstance_id = t4.id
		   AND t4.is_enabled = '1'
		 INNER JOIN td_sm_user t5
		    ON t4.user_id = t5.user_id
		 WHERE t5.user_id = #{userId,jdbcType=VARCHAR} AND t.id = #{privilegeId,jdbcType=VARCHAR}
		 )ttt
	</select>
	
	<select id="queryDirectOrgUserPrivileges" resultMap="PrivilegeResultMap" databaseId="mysql">
		SELECT t.*
		  FROM tb_sm_privilege t
		 INNER JOIN td_sm_roleresop t1
		    ON t.id = t1.op_id
		 INNER JOIN td_sm_role t2
		    ON t1.role_id = t2.role_id
		   AND t2.role_usage = '1'
		   AND t2.role_type = #{roleType,jdbcType=VARCHAR}
		 INNER JOIN td_sm_userinstancerole t3
		    ON t2.role_id = t3.role_id
		 INNER JOIN td_sm_userinstance t4
		    ON t3.userinstance_id = t4.id
		   AND t4.is_enabled = '1'
		   AND t4.scope_type = '1'
		   AND t4.scope_id = #{orgId,jdbcType=VARCHAR}
		 INNER JOIN td_sm_user t5
		    ON t4.user_id = t5.user_id
		 WHERE t5.user_id = #{userId,jdbcType=VARCHAR}
	</select>
	
	<select id="queryMenus" resultMap="MenuResultMap" databaseId="mysql">
		SELECT <include refid="Menu_Column_List"/>
		  FROM tb_sm_menu
		 RIGHT JOIN tb_sm_privilege
		    ON tb_sm_menu.menu_id = tb_sm_privilege.id
		 WHERE id IN (SELECT id
		                FROM tb_sm_privilege
		                LEFT JOIN tb_sm_menu t
		                  ON t.menu_id = id
		               WHERE TYPE = '4'
		                 AND t.is_enabled = '1'
		                 AND id IN (SELECT op_id
		                              FROM td_sm_roleresop
		                             WHERE role_id IN (SELECT role_id
		                                                 FROM td_sm_role t
		                                                WHERE t.role_usage = '1'
		                                                  AND role_id IN (SELECT role_id
		                                                                    FROM td_sm_userinstancerole
		                                                                   WHERE userinstance_id IN (SELECT id
		                                                                                               FROM td_sm_userinstance
		                                                                                              WHERE is_enabled = '1'
		                                                                                                AND user_id = #{userId,jdbcType=VARCHAR})
		                                                                  UNION
		                                                                  SELECT role_id
		                                                                    FROM td_sm_grouprole
		                                                                   WHERE group_id IN (SELECT group_id
		                                                                                        FROM td_sm_userinstancegroup
		                                                                                       WHERE userinstance_id IN (SELECT id
		                                                                                                                   FROM td_sm_userinstance
		                                                                                                                  WHERE is_enabled = '1'
		                                                                                                                    AND user_id = #{userId,jdbcType=VARCHAR}))))))
				
	</select>
	
	<select id="queryOrgUserMenus" resultMap="MenuResultMap" databaseId="mysql">
		SELECT <include refid="Menu_Column_List"/>
		  FROM tb_sm_menu
		 RIGHT JOIN tb_sm_privilege
		    ON tb_sm_menu.menu_id = tb_sm_privilege.id
		 WHERE id IN (SELECT id
		                FROM tb_sm_privilege
		                LEFT JOIN tb_sm_menu t
		                  ON t.menu_id = id
		               WHERE TYPE = '4'
		                 AND t.is_enabled = '1'
		                 AND id IN (SELECT op_id
		                              FROM td_sm_roleresop
		                             WHERE role_id IN (SELECT role_id
		                                                 FROM td_sm_role t
		                                                WHERE t.role_usage = '1'
		                                                  AND role_id IN (SELECT role_id
		                                                                    FROM td_sm_userinstancerole
		                                                                   WHERE userinstance_id IN (SELECT id
		                                                                                               FROM td_sm_userinstance
		                                                                                              WHERE is_enabled = '1'
		                                                                                                AND user_id = #{userId,jdbcType=VARCHAR}
		                                                                                                AND scope_type = '1'
                                                                                                        AND scope_id = #{orgId,jdbcType=VARCHAR})
		                                                                  UNION
		                                                                  SELECT role_id
		                                                                    FROM td_sm_grouprole
		                                                                   WHERE group_id IN (SELECT group_id
		                                                                                        FROM td_sm_userinstancegroup
		                                                                                       WHERE userinstance_id IN (SELECT id
		                                                                                                                   FROM td_sm_userinstance
		                                                                                                                  WHERE is_enabled = '1'
		                                                                                                                    AND user_id = #{userId,jdbcType=VARCHAR}
		                                                                                                                    AND scope_type = '1'
                                                                                                                            AND scope_id = #{orgId,jdbcType=VARCHAR}))))))
	</select>
	
	<select id="queryOrgIdsByUserId" parameterType="java.lang.String" resultType="java.lang.String" databaseId="mysql">
  		  SELECT t.scope_id
		  FROM td_sm_userinstance t
		   <trim prefix="WHERE" prefixOverrides="AND |OR ">
		   	  t.scope_type = '1' AND t.is_enabled = '1'
	          <if test="userId != null">
	              <![CDATA[AND t.user_id =  #{userId,jdbcType=VARCHAR}]]>
	          </if>
          </trim>
	</select>
	
	<select id="queryByOrg" resultMap="UserResultMap" databaseId="mysql">
		SELECT u.*
		  FROM td_sm_user u, td_sm_userinstance ui, td_sm_instance_org io
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
				u.user_id = ui.user_id
				AND ui.id = io.userinstance_id
				AND ui.scope_type = '1'
				AND ui.scope_id = #{orgId,jdbcType=VARCHAR}				    
			<if test="userEO.userId != null">
				AND u.user_id = #{userEO.userId,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userName != null">
				AND u.user_name like concat('%' , #{userEO.userName,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPassword != null">
				AND u.user_password = #{userEO.userPassword,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userRealname != null">
				AND u.user_realname LIKE concat('%' , #{userEO.userRealname,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPinyin != null">
				AND u.user_pinyin LIKE concat('%' , #{userEO.userPinyin,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userSex != null">
				AND u.user_sex = #{userEO.userSex,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userHometel != null">
				AND u.user_hometel LIKE concat('%' , #{userEO.userHometel,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userWorktel != null">
				AND u.user_worktel LIKE concat('%' , #{userEO.userWorktel,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userWorkaddress != null">
				AND u.user_workaddress LIKE concat('%' , #{userEO.userWorkaddress,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userMobiletel1 != null">
				AND u.user_mobiletel1 LIKE concat('%' ,	#{userEO.userMobiletel1,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userMobiletel2 != null">
				AND u.user_mobiletel2 LIKE concat('%' ,	#{userEO.userMobiletel2,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userFax != null">
				AND u.user_fax LIKE concat('%' , #{userEO.userFax,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userOicq != null">
				AND u.user_oicq LIKE concat('%' , #{userEO.userOicq,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userBirthday != null">
				AND u.user_birthday = #{userEO.userBirthday,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.userEmail != null">
				AND u.user_email = #{userEO.userEmail,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userAddress != null">
				AND u.user_address LIKE concat('%' , #{userEO.userAddress,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPostalcode != null">
				AND u.user_postalcode = #{userEO.userPostalcode,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userIdcard != null">
				AND u.user_idcard = #{userEO.userIdcard,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userIsvalid != null">
				AND u.user_isvalid = #{userEO.userIsvalid,jdbcType=DECIMAL}
			</if>
			<if test="userEO.userRegdate != null">
				AND u.user_regdate = #{userEO.userRegdate,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.userLogincount != null">
				AND u.user_logincount = #{userEO.userLogincount,jdbcType=DECIMAL}
			</if>
			<if test="userEO.userType != null">
				AND u.user_type = #{userEO.userType,jdbcType=VARCHAR}
			</if>
			<if test="userEO.pastTime != null">
				AND u.past_time = #{userEO.pastTime,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.dredgeTime != null">
				AND u.dredge_time = #{userEO.dredgeTime,jdbcType=VARCHAR}
			</if>
			<if test="userEO.lastloginDate != null">
				AND u.lastlogin_date = #{userEO.lastloginDate,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.worklength != null">
				AND u.worklength = #{userEO.worklength,jdbcType=VARCHAR}
			</if>
			<if test="userEO.politics != null">
				AND u.politics = #{userEO.politics,jdbcType=VARCHAR}
			</if>
			<if test="userEO.loginIp != null">
				AND u.login_ip = #{userEO.loginIp,jdbcType=VARCHAR}
			</if>
			<if test="userEO.certSn != null">
				AND u.cert_sn = #{userEO.certSn,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userSn != null">
				AND u.user_sn = #{userEO.userSn,jdbcType=DECIMAL}
			</if>
			<if test="userEO.remark1 != null">
				AND u.remark1 = #{userEO.remark1,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark2 != null">
				AND u.remark2 = #{userEO.remark2,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark3 != null">
				AND u.remark3 = #{userEO.remark3,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark4 != null">
				AND u.remark4 = #{userEO.remark4,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark5 != null">
				AND u.remark5 = #{userEO.remark5,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark6 != null">
				AND u.remark6 = #{userEO.remark6,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark7 != null">
				AND u.remark7 = #{userEO.remark7,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark8 != null">
				AND u.remark8 = #{userEO.remark8,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark9 != null">
				AND u.remark9 = #{userEO.remark9,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark10 != null">
				AND u.remark10 = #{userEO.remark10,jdbcType=VARCHAR}
			</if>
		</trim>
		 ORDER BY io.sn, u.user_name
	</select>
	
	<select id="queryByRole" resultMap="UserResultMap" databaseId="mysql">
		SELECT
		<include refid="User_Column_List" />
		FROM td_sm_user u
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			user_id != '1'
			AND user_id in(
				select user_id from td_sm_userinstancerole uir,td_sm_userinstance ui 
				where ui.id=uir.userinstance_id 
				and role_id!=#{everyoneRoleId,jdbcType=VARCHAR}
				and role_id = #{roleId,jdbcType=VARCHAR}
			)		    
			<if test="userEO.userId != null">
				AND u.user_id = #{userEO.userId,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userName != null">
				AND u.user_name like concat('%' , #{userEO.userName,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPassword != null">
				AND u.user_password = #{userEO.userPassword,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userRealname != null">
				AND u.user_realname LIKE concat('%' , #{userEO.userRealname,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPinyin != null">
				AND u.user_pinyin LIKE concat('%' , #{userEO.userPinyin,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userSex != null">
				AND u.user_sex = #{userEO.userSex,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userHometel != null">
				AND u.user_hometel LIKE concat('%' , #{userEO.userHometel,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userWorktel != null">
				AND u.user_worktel LIKE concat('%' , #{userEO.userWorktel,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userWorkaddress != null">
				AND u.user_workaddress LIKE concat('%' , #{userEO.userWorkaddress,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userMobiletel1 != null">
				AND u.user_mobiletel1 LIKE concat('%' ,	#{userEO.userMobiletel1,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userMobiletel2 != null">
				AND u.user_mobiletel2 LIKE concat('%' ,	#{userEO.userMobiletel2,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userFax != null">
				AND u.user_fax LIKE concat('%' , #{userEO.userFax,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userOicq != null">
				AND u.user_oicq LIKE concat('%' , #{userEO.userOicq,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userBirthday != null">
				AND u.user_birthday = #{userEO.userBirthday,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.userEmail != null">
				AND u.user_email = #{userEO.userEmail,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userAddress != null">
				AND u.user_address LIKE concat('%' , #{userEO.userAddress,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPostalcode != null">
				AND u.user_postalcode = #{userEO.userPostalcode,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userIdcard != null">
				AND u.user_idcard = #{userEO.userIdcard,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userIsvalid != null">
				AND u.user_isvalid = #{userEO.userIsvalid,jdbcType=DECIMAL}
			</if>
			<if test="userEO.userRegdate != null">
				AND u.user_regdate = #{userEO.userRegdate,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.userLogincount != null">
				AND u.user_logincount = #{userEO.userLogincount,jdbcType=DECIMAL}
			</if>
			<if test="userEO.userType != null">
				AND u.user_type = #{userEO.userType,jdbcType=VARCHAR}
			</if>
			<if test="userEO.pastTime != null">
				AND u.past_time = #{userEO.pastTime,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.dredgeTime != null">
				AND u.dredge_time = #{userEO.dredgeTime,jdbcType=VARCHAR}
			</if>
			<if test="userEO.lastloginDate != null">
				AND u.lastlogin_date = #{userEO.lastloginDate,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.worklength != null">
				AND u.worklength = #{userEO.worklength,jdbcType=VARCHAR}
			</if>
			<if test="userEO.politics != null">
				AND u.politics = #{userEO.politics,jdbcType=VARCHAR}
			</if>
			<if test="userEO.loginIp != null">
				AND u.login_ip = #{userEO.loginIp,jdbcType=VARCHAR}
			</if>
			<if test="userEO.certSn != null">
				AND u.cert_sn = #{userEO.certSn,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userSn != null">
				AND u.user_sn = #{userEO.userSn,jdbcType=DECIMAL}
			</if>
			<if test="userEO.remark1 != null">
				AND u.remark1 = #{userEO.remark1,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark2 != null">
				AND u.remark2 = #{userEO.remark2,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark3 != null">
				AND u.remark3 = #{userEO.remark3,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark4 != null">
				AND u.remark4 = #{userEO.remark4,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark5 != null">
				AND u.remark5 = #{userEO.remark5,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark6 != null">
				AND u.remark6 = #{userEO.remark6,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark7 != null">
				AND u.remark7 = #{userEO.remark7,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark8 != null">
				AND u.remark8 = #{userEO.remark8,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark9 != null">
				AND u.remark9 = #{userEO.remark9,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark10 != null">
				AND u.remark10 = #{userEO.remark10,jdbcType=VARCHAR}
			</if>
		</trim>
		 ORDER BY user_sn, user_name
	</select>
	
	<select id="queryByOrgRole" resultMap="UserResultMap" databaseId="mysql">
		SELECT u.*
		  FROM td_sm_user u, td_sm_userinstance ui, td_sm_instance_org io,td_sm_userinstancerole uir
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
				u.user_id = ui.user_id
				AND ui.id = io.userinstance_id
				AND ui.scope_type = '1'
				AND ui.scope_id = #{orgId,jdbcType=VARCHAR}	
				AND ui.id = uir.userinstance_id
				AND role_id != #{everyoneRoleId,jdbcType=VARCHAR}
				AND role_id = #{roleId,jdbcType=VARCHAR}		    
			<if test="userEO.userId != null">
				AND u.user_id = #{userEO.userId,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userName != null">
				AND u.user_name like concat('%' , #{userEO.userName,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPassword != null">
				AND u.user_password = #{userEO.userPassword,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userRealname != null">
				AND u.user_realname LIKE concat('%' , #{userEO.userRealname,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPinyin != null">
				AND u.user_pinyin LIKE concat('%' , #{userEO.userPinyin,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userSex != null">
				AND u.user_sex = #{userEO.userSex,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userHometel != null">
				AND u.user_hometel LIKE concat('%' , #{userEO.userHometel,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userWorktel != null">
				AND u.user_worktel LIKE concat('%' , #{userEO.userWorktel,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userWorkaddress != null">
				AND u.user_workaddress LIKE concat('%' , #{userEO.userWorkaddress,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userMobiletel1 != null">
				AND u.user_mobiletel1 LIKE concat('%' ,	#{userEO.userMobiletel1,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userMobiletel2 != null">
				AND u.user_mobiletel2 LIKE concat('%' ,	#{userEO.userMobiletel2,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userFax != null">
				AND u.user_fax LIKE concat('%' , #{userEO.userFax,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userOicq != null">
				AND u.user_oicq LIKE concat('%' , #{userEO.userOicq,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userBirthday != null">
				AND u.user_birthday = #{userEO.userBirthday,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.userEmail != null">
				AND u.user_email = #{userEO.userEmail,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userAddress != null">
				AND u.user_address LIKE concat('%' , #{userEO.userAddress,jdbcType=VARCHAR} , '%')
			</if>
			<if test="userEO.userPostalcode != null">
				AND u.user_postalcode = #{userEO.userPostalcode,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userIdcard != null">
				AND u.user_idcard = #{userEO.userIdcard,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userIsvalid != null">
				AND u.user_isvalid = #{userEO.userIsvalid,jdbcType=DECIMAL}
			</if>
			<if test="userEO.userRegdate != null">
				AND u.user_regdate = #{userEO.userRegdate,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.userLogincount != null">
				AND u.user_logincount = #{userEO.userLogincount,jdbcType=DECIMAL}
			</if>
			<if test="userEO.userType != null">
				AND u.user_type = #{userEO.userType,jdbcType=VARCHAR}
			</if>
			<if test="userEO.pastTime != null">
				AND u.past_time = #{userEO.pastTime,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.dredgeTime != null">
				AND u.dredge_time = #{userEO.dredgeTime,jdbcType=VARCHAR}
			</if>
			<if test="userEO.lastloginDate != null">
				AND u.lastlogin_date = #{userEO.lastloginDate,jdbcType=TIMESTAMP}
			</if>
			<if test="userEO.worklength != null">
				AND u.worklength = #{userEO.worklength,jdbcType=VARCHAR}
			</if>
			<if test="userEO.politics != null">
				AND u.politics = #{userEO.politics,jdbcType=VARCHAR}
			</if>
			<if test="userEO.loginIp != null">
				AND u.login_ip = #{userEO.loginIp,jdbcType=VARCHAR}
			</if>
			<if test="userEO.certSn != null">
				AND u.cert_sn = #{userEO.certSn,jdbcType=VARCHAR}
			</if>
			<if test="userEO.userSn != null">
				AND u.user_sn = #{userEO.userSn,jdbcType=DECIMAL}
			</if>
			<if test="userEO.remark1 != null">
				AND u.remark1 = #{userEO.remark1,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark2 != null">
				AND u.remark2 = #{userEO.remark2,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark3 != null">
				AND u.remark3 = #{userEO.remark3,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark4 != null">
				AND u.remark4 = #{userEO.remark4,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark5 != null">
				AND u.remark5 = #{userEO.remark5,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark6 != null">
				AND u.remark6 = #{userEO.remark6,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark7 != null">
				AND u.remark7 = #{userEO.remark7,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark8 != null">
				AND u.remark8 = #{userEO.remark8,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark9 != null">
				AND u.remark9 = #{userEO.remark9,jdbcType=VARCHAR}
			</if>
			<if test="userEO.remark10 != null">
				AND u.remark10 = #{userEO.remark10,jdbcType=VARCHAR}
			</if>
		</trim>
		 ORDER BY io.sn, u.user_name
	</select>
	
	<select id="queryAnonymousRoleId" resultType="java.lang.String" databaseId="mysql">
		SELECT t.role_id
		  FROM td_sm_role t
		 INNER JOIN td_sm_userinstancerole t1
		    ON t.role_id = t1.role_id
		 INNER JOIN td_sm_userinstance t2
		    ON t2.id = t1.userinstance_id AND t2.is_enabled = '1'
		 WHERE t.role_type = #{anonymousRoleTypeId,jdbcType=VARCHAR}
		   AND t2.id = #{userInstanceId,jdbcType=VARCHAR}
	</select>
	
	<select id="queryAnonymousRoleIdByScope" resultType="java.lang.String" databaseId="mysql">
		SELECT t.role_id
		  FROM td_sm_role t
		 INNER JOIN td_sm_userinstancerole t1
		    ON t.role_id = t1.role_id
		 INNER JOIN td_sm_userinstance t2
		    ON t2.id = t1.userinstance_id AND t2.is_enabled = '1'
		 WHERE t.role_type = #{anonymousRoleTypeId,jdbcType=VARCHAR}
	       AND t2.user_id = #{userId,jdbcType=VARCHAR}
	       AND t2.scope_id = #{scopeId,jdbcType=VARCHAR}
	       AND t2.scope_type = #{scopeType,jdbcType=VARCHAR}
	</select>
	
	<select id="queryAnonymousRoleIdsByUserIds" resultType="java.lang.String" databaseId="mysql">
		SELECT t.role_id
		  FROM td_sm_role t
		 INNER JOIN td_sm_userinstancerole t1
		    ON t.role_id = t1.role_id
		 INNER JOIN td_sm_userinstance t2
		    ON t2.id = t1.userinstance_id AND t2.is_enabled = '1'
		 WHERE t.role_type = #{anonymousRoleTypeId,jdbcType=VARCHAR}
	       AND t2.user_id IN
	    <foreach item="idItem" collection="userIds" open="(" separator=","
			close=")">
			<![CDATA[#{idItem,jdbcType=VARCHAR}]]>
		</foreach>
	</select>
	
	<select id="queryAnonymousRoleIdsByUserIdsAndScope" resultType="java.lang.String" databaseId="mysql">
		SELECT t.role_id
		  FROM td_sm_role t
		 INNER JOIN td_sm_userinstancerole t1
		    ON t.role_id = t1.role_id
		 INNER JOIN td_sm_userinstance t2
		    ON t2.id = t1.userinstance_id AND t2.is_enabled = '1'
		 WHERE t.role_type = #{anonymousRoleTypeId,jdbcType=VARCHAR}
	       AND t2.scope_id = #{scopeId,jdbcType=VARCHAR}
	       AND t2.scope_type = #{scopeType,jdbcType=VARCHAR}
	       AND t2.user_id IN
	    <foreach item="idItem" collection="userIds" open="(" separator=","
			close=")">
			<![CDATA[#{idItem,jdbcType=VARCHAR}]]>
		</foreach>
	</select>
	
	<select id="hasDirectRole" resultType="int" databaseId="mysql">
		SELECT COUNT(*)
	  FROM (SELECT t.*
	          FROM td_sm_role t
	         INNER JOIN td_sm_userinstancerole t1
	            ON t.role_id = t1.role_id
	         INNER JOIN td_sm_userinstance t2
	            ON t2.id = t1.userinstance_id AND t2.is_enabled = '1'
	         WHERE t.role_id = #{roleId,jdbcType=VARCHAR}
	           AND t2.scope_id = #{scopeId,jdbcType=VARCHAR}
	           AND t2.scope_type = #{scopeType,jdbcType=VARCHAR}
	           AND t2.user_id = #{userId,jdbcType=VARCHAR}) ttt
	</select>
	
	<select id="hasRole" resultType="int" databaseId="mysql">
		SELECT COUNT(*)
		  FROM (SELECT t.*
		          FROM td_sm_role t
		         INNER JOIN td_sm_userinstancerole t1
		            ON t.role_id = t1.role_id
		         INNER JOIN td_sm_userinstance t2
		            ON t2.id = t1.userinstance_id
		           AND t2.is_enabled = '1'
		         WHERE t.role_id = #{roleId,jdbcType=VARCHAR}
		           AND t2.scope_id = #{scopeId,jdbcType=VARCHAR}
		           AND t2.scope_type = #{scopeType,jdbcType=VARCHAR}
		           AND t2.user_id = #{userId,jdbcType=VARCHAR}
		        UNION
		        SELECT tt.*
		          FROM td_sm_role tt
		         INNER JOIN td_sm_grouprole tt1
		            ON tt.role_id = tt1.role_id
		         INNER JOIN td_sm_group tt2
		            ON tt1.group_id = tt2.group_id
		         INNER JOIN td_sm_userinstancegroup tt3
		            ON tt2.group_id = tt3.group_id
		         INNER JOIN td_sm_userinstance tt4
		            ON tt3.userinstance_id = tt4.id
		           AND tt4.is_enabled = '1'
		         WHERE tt.role_id = #{roleId,jdbcType=VARCHAR}
		           AND tt4.scope_id = #{scopeId,jdbcType=VARCHAR}
		           AND tt4.scope_type = #{scopeType,jdbcType=VARCHAR}
		           AND tt4.user_id = #{userId,jdbcType=VARCHAR}) ttt
				
	</select>
	
	<select id="hasDirectOrgUserPrivilege" resultType="int" databaseId="mysql">
		SELECT COUNT(*) FROM (SELECT t.*
		  FROM tb_sm_privilege t
		 INNER JOIN td_sm_roleresop t1
		    ON t.id = t1.op_id
		 INNER JOIN td_sm_role t2
		    ON t1.role_id = t2.role_id
		   AND t2.role_usage = '1'
		   AND t2.role_type = #{roleType,jdbcType=VARCHAR}
		 INNER JOIN td_sm_userinstancerole t3
		    ON t2.role_id = t3.role_id
		 INNER JOIN td_sm_userinstance t4
		    ON t3.userinstance_id = t4.id
		   AND t4.is_enabled = '1'
		   AND t4.scope_type = '1'
		   AND t4.scope_id = #{orgId,jdbcType=VARCHAR}
		 INNER JOIN td_sm_user t5
		    ON t4.user_id = t5.user_id
		 WHERE t5.user_id = #{userId,jdbcType=VARCHAR} AND t.id = #{privilegeId,jdbcType=VARCHAR}
		 ) ttt
	</select>
</mapper>