<div ng-controller="HomeController">
	<div class="col-sm-6 col-sm-offset-3" id="default-buttons">
		<h3 class="header smaller lighter purple">
		功能 
		</h3>
		<p>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/me')">获取当前用户</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/user/C4C3B59D303947C3B4D093A31A40A969')">获取单个用户</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/testmulti/')">getMuliById</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/username/')">getByUsername</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/usernames/')">queryMultiByUsername</button>
		</p>
		<p>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/testorg/')">queryByOrg</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/testrole/')">queryByRole</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/C4C3B59D303947C3B4D093A31A40A969/testorgs')">getOrgs</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/2677A85FF10549D591DD23375C87DDE7/mainorg')">getMainOrg</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/C4C3B59D303947C3B4D093A31A40A969/ismainorg')">isMainOrg</button>
		</p>
		<p>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/C4C3B59D303947C3B4D093A31A40A969/inorg')">inOrg</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/C4C3B59D303947C3B4D093A31A40A969/getroles')">getRoles</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/C4C3B59D303947C3B4D093A31A40A969/hasrole')">hasRole</button>
			<button type="button" class="btn btn-white btn-danger btn-sm" ng-click="dorequest('GET','/users/roleorg/')">queryByRoleInOrg</button>
		</p>
		<p>
			<button type="button" class="btn btn-white btn-pink btn-sm" ng-click="dorequest('GET','/org/organization/661BCC915A6A4531B512F28535A27D66')">获取机构</button>
			<button type="button" class="btn btn-white btn-pink btn-sm" ng-click="dorequest('GET','/org/organization/661BCC915A6A4531B512F28535A27D66/parents')">获取父机构</button>
			<button type="button" class="btn btn-white btn-pink btn-sm" ng-click="dorequest('GET','/org/organization/C0B8B5F298C34195A10A005E8293C57F/children')">获取子机构</button>
			<button type="button" class="btn btn-white btn-pink btn-sm" ng-click="dorequest('GET','/org/organization/661BCC915A6A4531B512F28535A27D66/user/C4C3B59D303947C3B4D093A31A40A969')">判断机构下的某用户是否存在</button>
			<button type="button" class="btn btn-white btn-pink btn-sm" ng-click="dorequest('GET','/role/2')">get</button>
			<button type="button" class="btn btn-white btn-pink btn-sm" ng-click="dorequest('GET','/role')">getByName</button>
		</p>
		<h3 class="header smaller lighter green">结果</h3>

		<p ng-bind-html="data"></p>
	</div>
</div>

<script type="text/javascript">
	app.registerCtrl('HomeController', [ '$scope', '$http', function($scope, $http) {
		
	$scope.dorequest = function(method, url) {
					$http({
						method : method,
						url : url
					}).then(function(response) {
						$scope.data=syntaxHighlight(response.data);
					}, function(response) {
						$scope.data="错误";
						console.log(response);
					});
				}
	
	function syntaxHighlight(json) {
	    if (typeof json != 'string') {
	         json = JSON.stringify(json, undefined, 2);
	    }
	    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
	    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
	        var cls = 'number';
	        if (/^"/.test(match)) {
	            if (/:$/.test(match)) {
	                cls = 'key';
	            } else {
	                cls = 'string';
	            }
	        } else if (/true|false/.test(match)) {
	            cls = 'boolean';
	        } else if (/null/.test(match)) {
	            cls = 'null';
	        }
	        return '<span class="' + cls + '">' + match + '</span>';
	    });
	}
	
	}]);
</script>