<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 用户组与机构岗位关系 -->
<mapper namespace="com.chinacreator.asp.comp.sys.advanced.group.dao.GroupOrgJobDao">
<cache-ref namespace="com.chinacreator.asp.comp.sys.core.user.dao.UserDao"/>
  <sql id="GroupOrgJob_Column_List"> group_id,job_id </sql>

  <resultMap id="GroupOrgJobResultMap" type="com.chinacreator.asp.comp.sys.advanced.group.eo.GroupOrgJobEO">
  	<result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
    <result column="JOB_ID" property="jobId" jdbcType="VARCHAR" />
  </resultMap>
  
  <delete id="delete" databaseId="sqlserver">
  DELETE FROM td_sm_grouporgjob 
  <trim prefix="WHERE" prefixOverrides="AND |OR ">
	  	 <if test="groupId != null">
	  	 	<![CDATA[group_id = #{groupId,jdbcType=VARCHAR}]]>
	  	 </if>
	  	 <if test="jobId != null">
	  	 	<![CDATA[AND job_id = #{jobId,jdbcType=VARCHAR}]]>
	  	 </if>
  	 </trim>
  </delete>
  
  <delete id="deleteByJobIds" databaseId="sqlserver">
  	DELETE FROM td_sm_grouporgjob 
  	WHERE job_id IN
  	<foreach item="idItem" collection="array" open="("
      separator="," close=")">
            <![CDATA[#{idItem}]]>
    </foreach>
  </delete>
  
  <insert id="create" parameterType="com.chinacreator.asp.comp.sys.advanced.group.eo.GroupOrgJobEO" databaseId="sqlserver">
      INSERT INTO td_sm_grouporgjob
      <trim prefix="(" suffix=")" suffixOverrides=",">
          <if test="groupId != null">
              group_id,
          </if>
          <if test="jobId != null">
              job_id,
          </if>
      </trim>
      <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
          <if test="groupId != null">
              <![CDATA[#{groupId,jdbcType=VARCHAR},]]>
          </if>
          <if test="jobId != null">
              <![CDATA[#{jobId,jdbcType=VARCHAR},]]>
          </if>
      </trim>
  </insert>
  
</mapper>
