<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 权限EO实体类映射关系 -->
<mapper namespace="com.chinacreator.asp.comp.sys.core.privilege.dao.PrivilegeDao">
<cache-ref namespace="com.chinacreator.asp.comp.sys.core.user.dao.UserDao"/>
	<sql id="Privilege_Column_List">id,code,name,parent_id,type,perm_expr,creator,creator_time,sn,source,virtual</sql>									
	<sql id="Group_Column_List">
		DISTINCT t.group_id, t.group_name, t.group_desc, t.parent_id, t.owner_id, t.remark1,
		t.remark2, t.remark3, t.remark4, t.remark5, t.type
	</sql>

	<sql id="Role_Column_List">
		t.role_id, t.role_name, t.role_type, t.role_desc, t.role_usage, t.owner_id,
		t.remark1, t.remark2, t.remark3, t.remark4, t.remark5
	</sql>

	<resultMap id="PrivilegeResultMap" type="com.chinacreator.asp.comp.sys.core.privilege.eo.PrivilegeEO">
		<result column="ID" property="privilegeId" jdbcType="VARCHAR" />
		<result column="CODE" property="privilegeCode" jdbcType="VARCHAR" />
		<result column="NAME" property="privilegeName" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="CHAR" />
		<result column="PERM_EXPR" property="permExpr" jdbcType="VARCHAR" />
		<result column="CREATOR" property="creator" jdbcType="VARCHAR" />
		<result column="CREATOR_TIME" property="creatorTime" jdbcType="DATE" />
		<result column="SN" property="sn" jdbcType="DECIMAL" />
		<result column="SOURCE" property="source" jdbcType="VARCHAR"/>	
		<result column="VIRTUAL" property="virtual" jdbcType="CHAR"/>	
	</resultMap> 

	<resultMap id="GroupEOResultMap" type="com.chinacreator.asp.comp.sys.core.group.eo.GroupEO">
		<result column="GROUP_ID" property="groupId" jdbcType="VARCHAR" />
		<result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR" />
		<result column="GROUP_DESC" property="groupDesc" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
		<result column="OWNER_ID" property="ownerId" jdbcType="VARCHAR" />
		<result column="REMARK1" property="remark1" jdbcType="VARCHAR" />
		<result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
		<result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
		<result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
		<result column="REMARK5" property="remark5" jdbcType="VARCHAR" />
		<result column="TYPE" property="type" jdbcType="CHAR" />
	</resultMap>

	<resultMap id="RoleEOResultMap" type="com.chinacreator.asp.comp.sys.core.role.eo.RoleEO">
		<result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
		<result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
		<result column="ROLE_TYPE" property="roleType" jdbcType="VARCHAR" />
		<result column="ROLE_DESC" property="roleDesc" jdbcType="VARCHAR" />
		<result column="ROLE_USAGE" property="roleUsage" jdbcType="VARCHAR" />
		<result column="OWNER_ID" property="ownerId" jdbcType="VARCHAR" />
		<result column="REMARK1" property="remark1" jdbcType="VARCHAR" />
		<result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
		<result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
		<result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
		<result column="REMARK5" property="remark5" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="UserEOResultMap" type="com.chinacreator.asp.comp.sys.core.user.eo.UserEO">
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
		<result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
		<result column="USER_REALNAME" property="userRealname" jdbcType="VARCHAR" />
		<result column="USER_PINYIN" property="userPinyin" jdbcType="VARCHAR" />
		<result column="USER_SEX" property="userSex" jdbcType="VARCHAR" />
		<result column="USER_HOMETEL" property="userHometel" jdbcType="VARCHAR" />
		<result column="USER_WORKTEL" property="userWorktel" jdbcType="VARCHAR" />
		<result column="USER_WORKADDRESS" property="userWorkaddress" jdbcType="VARCHAR" />
		<result column="USER_MOBILETEL1" property="userMobiletel1" jdbcType="VARCHAR" />
		<result column="USER_MOBILETEL2" property="userMobiletel2" jdbcType="VARCHAR" />
		<result column="USER_FAX" property="userFax" jdbcType="VARCHAR" />
		<result column="USER_OICQ" property="userOicq" jdbcType="VARCHAR" />
		<result column="USER_BIRTHDAY" property="userBirthday" jdbcType="DATE" />
		<result column="USER_EMAIL" property="userEmail" jdbcType="VARCHAR" />
		<result column="USER_ADDRESS" property="userAddress" jdbcType="VARCHAR" />
		<result column="USER_POSTALCODE" property="userPostalcode" jdbcType="VARCHAR" />
		<result column="USER_IDCARD" property="userIdcard" jdbcType="VARCHAR" />
		<result column="USER_ISVALID" property="userIsvalid" jdbcType="NUMERIC" />
		<result column="USER_REGDATE" property="userRegdate" jdbcType="DATE" />
		<result column="USER_LOGINCOUNT" property="userLogincount" jdbcType="NUMERIC" />
		<result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
		<result column="PAST_TIME" property="pastTime" jdbcType="DATE" />
		<result column="DREDGE_TIME" property="dredgeTime" jdbcType="VARCHAR" />
		<result column="LASTLOGIN_DATE" property="lastloginDate" jdbcType="DATE" />
		<result column="WORKLENGTH" property="worklength" jdbcType="VARCHAR" />
		<result column="POLITICS" property="politics" jdbcType="VARCHAR" />
		<result column="LOGIN_IP" property="loginIp" jdbcType="VARCHAR" />
		<result column="CERT_SN" property="certSn" jdbcType="VARCHAR" />
		<result column="USER_SN" property="userSn" jdbcType="NUMERIC" />
		<result column="REMARK1" property="remark1" jdbcType="VARCHAR" />
		<result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
		<result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
		<result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
		<result column="REMARK5" property="remark5" jdbcType="VARCHAR" />
		<result column="REMARK6" property="remark6" jdbcType="VARCHAR" />
		<result column="REMARK7" property="remark7" jdbcType="VARCHAR" />
		<result column="REMARK8" property="remark8" jdbcType="VARCHAR" />
		<result column="REMARK9" property="remark9" jdbcType="VARCHAR" />
		<result column="REMARK10" property="remark10" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="create" parameterType="com.chinacreator.asp.comp.sys.core.privilege.eo.PrivilegeEO" databaseId="oracle">
		INSERT INTO tb_sm_privilege 
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="privilegeId != null">
                id,
            </if>
            <if test="privilegeCode != null">
                code,
            </if>
            <if test="privilegeName != null">
                name,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="permExpr != null">
                perm_expr,
            </if>
            <if test="creator != null">
            	creator,
            </if>
            <if test="creatorTime != null">
            	creator_time,
            </if>
            <if test="sn != null">
            	sn,
            </if>
            <if test="source != null">
            	source,
            </if>
            <if test="virtual != null">
            	virtual,
            </if> 
        </trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="privilegeId != null">
                <![CDATA[#{privilegeId,jdbcType=VARCHAR},]]>
            </if>
            <if test="privilegeCode != null">
                 <![CDATA[#{privilegeCode,jdbcType=VARCHAR},]]>
            </if>
            <if test="privilegeName != null">
                <![CDATA[#{privilegeName,jdbcType=VARCHAR},]]>
            </if>
            <if test="parentId != null">
                <![CDATA[#{parentId,jdbcType=VARCHAR},]]>
            </if>
            <if test="type != null">
                <![CDATA[#{type,jdbcType=CHAR},]]>
            </if>
            <if test="permExpr != null">
                <![CDATA[#{permExpr,jdbcType=VARCHAR},]]>
            </if>
            <if test="creator != null">
            	<![CDATA[#{creator,jdbcType=VARCHAR},]]>
            </if>
            <if test="creatorTime != null">
            	<![CDATA[#{creatorTime,jdbcType=DATE},]]>
            </if>
            <if test="sn != null">
            	<![CDATA[#{sn,jdbcType=DECIMAL},]]>
            </if>
            <if test="source != null">
            	<![CDATA[#{source,jdbcType=VARCHAR},]]>
            </if>
            <if test="virtual != null">
            	<![CDATA[#{virtual,jdbcType=CHAR}]]>
            </if>
		</trim>
	</insert>

	<update id="update" parameterType="com.chinacreator.asp.comp.sys.core.privilege.eo.PrivilegeEO" databaseId="oracle">
		UPDATE tb_sm_privilege
		<set>			
			<if test="privilegeName != null">
				<![CDATA[name = #{privilegeName,jdbcType=VARCHAR},]]>
			</if>
			<if test="parentId != null">
				<![CDATA[parent_id = #{parentId,jdbcType=VARCHAR},]]>
			</if>			
			<if test="permExpr != null">
				<![CDATA[perm_expr = #{permExpr,jdbcType=VARCHAR},]]>
			</if>			
			<if test="creatorTime != null">
            	<![CDATA[creator_time = #{creatorTime,jdbcType=DATE},]]>
            </if>
            <if test="sn != null">
            	<![CDATA[sn = #{sn,jdbcType=DECIMAL},]]>
            </if>
            <if test="virtual != null">
            	<![CDATA[virtual = #{virtual,jdbcType=CHAR}]]>
            </if> 
		</set>
		WHERE <![CDATA[id = #{privilegeId,jdbcType=VARCHAR}]]>
	</update>

	<delete id="deleteByPKs" parameterType="java.lang.String" databaseId="oracle">
		DELETE FROM tb_sm_privilege
		WHERE id IN
		<foreach item="idItem" index="index" collection="array" open="(" 
			close=")">
			<if test="index&gt;999 and index%1000==0">) or id in(</if>
			<![CDATA[#{idItem,jdbcType=VARCHAR}]]>
			<if test="index%1000!=999 and index&lt;array.length-1">,</if>
		</foreach>
	</delete>
  
    <delete id="deleteByPK" parameterType="java.lang.String" databaseId="oracle">
        DELETE FROM tb_sm_privilege
        WHERE <![CDATA[id = #{privilegeId,jdbcType=VARCHAR}]]>
    </delete>
    
    <select id="queryByPK" parameterType="java.lang.String" resultMap="PrivilegeResultMap" databaseId="oracle">
        select <include refid="Privilege_Column_List" />
         FROM tb_sm_privilege
         <trim prefix="WHERE" prefixOverrides="AND |OR ">
             <![CDATA[id = #{privilegeId,jdbcType=VARCHAR}]]>
         </trim>
    </select>
    
     <select id="queryByCode" parameterType="java.lang.String" resultMap="PrivilegeResultMap" databaseId="oracle">
        select <include refid="Privilege_Column_List" />
         FROM tb_sm_privilege
         <trim prefix="WHERE" prefixOverrides="AND |OR ">
             <![CDATA[code = #{privilegeCode,jdbcType=VARCHAR}]]>
         </trim>
    </select>
    
    <select id="queryByPermExpr" parameterType="java.lang.String" resultMap="PrivilegeResultMap" databaseId="oracle">
        select <include refid="Privilege_Column_List" />
         FROM tb_sm_privilege
       <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <![CDATA[perm_expr = #{permExpr,jdbcType=VARCHAR}]]>
        </trim>
    </select>
    
	<select id="query" parameterType="com.chinacreator.asp.comp.sys.core.privilege.eo.PrivilegeEO" resultMap="PrivilegeResultMap" databaseId="oracle">
		SELECT
		<include refid="Privilege_Column_List" />
		FROM tb_sm_privilege
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="privilegeId != null">
				<![CDATA[id = #{privilegeId,jdbcType=VARCHAR}]]>
			</if>
			<if test="privilegeCode != null">
				<![CDATA[AND code = #{privilegeCode,jdbcType=VARCHAR}]]>
			</if>
			<if test="privilegeName != null">
				<![CDATA[AND name like '%' || #{privilegeName,jdbcType=VARCHAR} ||
				'%']]>
			</if>
			<if test="parentId != null">
				<![CDATA[AND parent_id = #{parentId,jdbcType=VARCHAR}]]>
			</if>
			<if test="type != null">
				<![CDATA[AND type = #{type,jdbcType=CHAR}]]>
			</if>
			<if test="permExpr != null">
				<![CDATA[AND perm_expr = #{permExpr,jdbcType=VARCHAR}]]>
			</if>
			<if test="creator != null">
            	<![CDATA[AND creator = #{creator,jdbcType=VARCHAR}]]>
            </if>
            <if test="creatorTime != null">
            	<![CDATA[AND creator_time = #{creatorTime,jdbcType=DATE}]]>
            </if>         
            <if test="source != null">
            	<![CDATA[AND source = #{source,jdbcType=VARCHAR}]]>
            </if>
            <if test="virtual != null">
            	<![CDATA[AND virtual = #{virtual,jdbcType=CHAR}]]>
            </if>   
		</trim>
		ORDER BY sn,name
	</select>
  
   <select id="queryIdsByCodes" resultType="java.lang.String" databaseId="oracle">
      SELECT id FROM tb_sm_privilege WHERE code IN 
        <foreach item="item" index="index" collection="array" open="("  close=")">
        	<if test="index&gt;999 and index%1000==0">) or code in(</if> 
            	#{item} 
            <if test="index%1000!=999 and index&lt;array.length-1">,</if>
        </foreach> 
   </select>

	<select id="queryUsers" parameterType="java.lang.String" resultMap="UserEOResultMap" databaseId="oracle">
		(
		 SELECT t.*
		  FROM td_sm_user t
		 INNER JOIN td_sm_userinstance t1 ON t.user_id = t1.user_id
		                                 AND t1.is_enabled = '1'
		 INNER JOIN td_sm_userinstancerole t2 ON t1.id = t2.userinstance_id
		 INNER JOIN td_sm_role t3 ON t2.role_id = t3.role_id
		                         AND t3.role_usage = '1'
		 INNER JOIN td_sm_roleresop t4 ON t3.role_id = t4.role_id
		 INNER JOIN tb_sm_privilege t5 ON t4.op_id = t5.id 
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<![CDATA[t5.id = #{privilegeId,jdbcType=VARCHAR}]]>
		</trim>
		)
		UNION
		(
		 SELECT tt.*
		  FROM td_sm_user tt
		 INNER JOIN td_sm_userinstance tt1 ON tt.user_id = tt1.user_id AND tt1.is_enabled = '1'
		 INNER JOIN td_sm_userinstancegroup tt2 ON tt1.id = tt2.userinstance_id
		 INNER JOIN td_sm_group tt3 ON tt2.group_id = tt3.group_id
		 INNER JOIN td_sm_grouprole tt4 ON tt3.group_id = tt4.group_id
		 INNER JOIN td_sm_role tt5 ON tt4.role_id = tt5.role_id AND tt5.role_usage = '1'
		 INNER JOIN td_sm_roleresop tt6 ON tt5.role_id = tt6.role_id
		 INNER JOIN tb_sm_privilege tt7 ON tt6.op_id = tt7.id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			tt7.id =
			<![CDATA[#{privilegeId,jdbcType=VARCHAR}]]>
		</trim>
		)
	</select>

	<select id="queryUsersByScope" resultMap="UserEOResultMap" databaseId="oracle">
		(
		 SELECT t.*
		  FROM td_sm_user t
		 INNER JOIN td_sm_userinstance t1 ON t.user_id = t1.user_id
		                                 AND t1.is_enabled = '1'
		 INNER JOIN td_sm_userinstancerole t2 ON t1.id = t2.userinstance_id
		 INNER JOIN td_sm_role t3 ON t2.role_id = t3.role_id
		                         AND t3.role_usage = '1'
		 INNER JOIN td_sm_roleresop t4 ON t3.role_id = t4.role_id
		 INNER JOIN tb_sm_privilege t5 ON t4.op_id = t5.id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="privilegeId != null">
				<![CDATA[t5.id = #{privilegeId,jdbcType=VARCHAR}]]>
			</if>
			<if test="scopeType != null">
				<![CDATA[AND t1.scope_type = #{scopeType,jdbcType=VARCHAR}]]>
			</if>
			<if test="scopeId != null">
				<![CDATA[AND t1.scope_id = #{scopeId,jdbcType=VARCHAR}]]>
			</if>
		</trim>
		)
		UNION
		(
		 SELECT tt.*
		  FROM td_sm_user tt
		 INNER JOIN td_sm_userinstance tt1 ON tt.user_id = tt1.user_id
		                                  AND tt1.is_enabled = '1'
		 INNER JOIN td_sm_userinstancegroup tt2 ON tt1.id = tt2.userinstance_id
		 INNER JOIN td_sm_group tt3 ON tt2.group_id = tt3.group_id
		 INNER JOIN td_sm_grouprole tt4 ON tt3.group_id = tt4.group_id
		 INNER JOIN td_sm_role tt5 ON tt4.role_id = tt5.role_id
		                          AND tt5.role_usage = '1'
		 INNER JOIN td_sm_roleresop tt6 ON tt5.role_id = tt6.role_id
		 INNER JOIN tb_sm_privilege tt7 ON tt6.op_id = tt7.id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="privilegeId != null">
				<![CDATA[tt7.id = #{privilegeId,jdbcType=VARCHAR}]]>
			</if>
			<if test="scopeType != null">
				<![CDATA[AND tt1.scope_type = #{scopeType,jdbcType=VARCHAR}]]>
			</if>
			<if test="scopeId != null">
				<![CDATA[AND tt1.scope_id = #{scopeId,jdbcType=VARCHAR}]]>
			</if>
		</trim>
		)
	</select>

	<select id="queryGroups" parameterType="com.chinacreator.asp.comp.sys.core.privilege.eo.PrivilegeEO" resultMap="GroupEOResultMap" databaseId="oracle">
		 SELECT 
		 <include refid="Group_Column_List"/>
		  FROM td_sm_group t
		 INNER JOIN td_sm_grouprole gr ON t.group_id = gr.group_id
		 INNER JOIN td_sm_role r ON gr.role_id = r.role_id
		                        AND r.role_usage = '1'
		 INNER JOIN td_sm_roleresop rr ON r.role_id = rr.role_id
		 INNER JOIN tb_sm_privilege p ON rr.op_id = p.id 
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="privilegeId != null">
				<![CDATA[p.id = #{privilegeId,jdbcType=VARCHAR}]]>
			</if>
			<if test="privilegeCode != null">
				<![CDATA[AND p.code = #{privilegeCode,jdbcType=VARCHAR}]]>
			</if>
			<if test="privilegeName != null">
				<![CDATA[AND p.name like '%' || #{privilegeName,jdbcType=VARCHAR}
				||
				'%']]>
			</if>
			<if test="parentId != null">
				<![CDATA[AND p.parent_id = #{parentId,jdbcType=VARCHAR}]]>
			</if>
			<if test="type != null">
				<![CDATA[AND p.type = #{type,jdbcType=CHAR}]]>
			</if>
			<if test="permExpr != null">
				<![CDATA[AND p.perm_expr = #{permExpr,jdbcType=VARCHAR}]]>
			</if>
		</trim>
	</select>

	<select id="queryRoles" parameterType="com.chinacreator.asp.comp.sys.core.privilege.eo.PrivilegeEO" resultMap="RoleEOResultMap" databaseId="oracle">
		SELECT
		<include refid="Role_Column_List" />
		 FROM td_sm_role t
		 INNER JOIN td_sm_roleresop rr ON t.role_id = rr.role_id
		 INNER JOIN tb_sm_privilege p ON rr.op_id = p.id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="privilegeId != null">
				<![CDATA[p.id = #{privilegeId,jdbcType=VARCHAR}]]>
			</if>
			<if test="privilegeCode != null">
				<![CDATA[AND p.code = #{privilegeCode,jdbcType=VARCHAR}]]>
			</if>
			<if test="privilegeName != null">
				<![CDATA[AND p.name like '%' || #{privilegeName,jdbcType=VARCHAR}
				||
				'%']]>
			</if>
			<if test="parentId != null">
				<![CDATA[AND p.parent_id = #{parentId,jdbcType=VARCHAR}]]>
			</if>
			<if test="type != null">
				<![CDATA[AND p.type = #{type,jdbcType=CHAR}]]>
			</if>
			<if test="permExpr != null">
				<![CDATA[AND p.perm_expr = #{permExpr,jdbcType=VARCHAR}]]>
			</if>
		</trim>
	</select>
  
  <select id="queryPrivilegesByRoleIds" resultMap="PrivilegeResultMap" databaseId="oracle">
    SELECT t.* FROM tb_sm_privilege t RIGHT JOIN td_sm_roleresop t1 ON t.id = t1.op_id
    RIGHT JOIN td_sm_role t2 ON t1.role_id = t2.role_id
     WHERE t2.ROLE_USAGE = '1' AND ( t1.role_id IN 
     <foreach item="idItem" index="index" collection="roleIds" open="(" 
          close=")">
          <if test="index&gt;999 and index%1000==0">) or t1.role_id in(</if>
          	<![CDATA[#{idItem,jdbcType=VARCHAR}]]>
          <if test="index%1000!=999 and index&lt;roleIds.size-1">,</if>
      </foreach>
      )
  </select>
  
  <select id="existsByCode" resultType="int" parameterType="java.lang.String" databaseId="oracle">	
		<![CDATA[ 
		SELECT count(*)
		FROM tb_sm_privilege 
		WHERE code = #{code,jdbcType=VARCHAR}
		]]>	
	</select>
	
	<select id="existsByCodeIgnoreId" resultType="int" parameterType="java.lang.String" databaseId="oracle">	
		<![CDATA[ 
		SELECT count(*)
		FROM tb_sm_privilege 
		WHERE code = #{code,jdbcType=VARCHAR}
		AND id != #{id,jdbcType=VARCHAR}
		]]>	
	</select>

</mapper>